@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mirror the video to feel natural for the user */
.video-mirror {
  transform: scaleX(-1);
}

/* Custom scanline effect */
.scanlines {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2)
  );
  background-size: 100% 4px;
  pointer-events: none;
}